{% extends './base.html' %}

{% block customCSS %}

{% endblock %}

{% block header %}
<div class="maxw">
   
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="static/img/menu.png" alt="" width="30" height="30">
                Propuesta 1
            </a>
            <a href="#">
            <img src="static/img/user-interface.png" alt="" width="30" height="30">
            Admin
            </a>
            <a href="#">
                <img src="static/img/logout.png" alt="" width="30" height="30">
                Cerrar sesión</a>
            </nav>
          </div>
    </nav>
</div>
{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="row d-flex justify-content-start">

        <div class="col-8 mt-4" style="text-align: start;">
            {% block content %}

            {% endblock %}
        </div>
    </div>

</div>


</div>
{% endblock %}