{% extends './base.html' %}

{% block customCSS %}
<!-- Agrega aquí tu CSS personalizado si es necesario -->
{% endblock %}

{% block titulo %}
Propuesta 1
{% endblock %}

{% block header %}
<nav class="navbar navbar-light" style="background-color: #314553;">
    <div class="container">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/menu.png') }}" alt="Menú" width="30" height="30">
                Propuesta 1
            </a>
        </div>
        <div class="col-md-2 d-flex justify-content-arround">
            <a href="#">
                <img src="{{ url_for('static', filename='img/user-interface.png') }}" alt="User" width="30" height="30" style="margin-right: 15px">
            </a>
            <a href="#">
                <img src="{{ url_for('static', filename='img/logout.png') }}" alt="Cerrar sesión" width="30" height="30" style="margin-left: 15px">
            </a>
        </div>
    </div>
</nav>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block container %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}